.navbar {
  display: flex;
  background-color: #3b5998;
  z-index: 1000;
}

.logo {
  color: #ffffff;
  margin-left: 20px;
}

.add-goal {
  height: 50px;
  margin-top: 5px;
  border: #ffffff 1px solid;
  margin-left: 40px;
  background-color: #3b5998;
  color: #ffffff;
  padding: 5px;
  z-index: 2
}

.goal-list {
  padding: 20px;
  margin: 100px auto 0 auto;
  max-width: 800px;
}

.goals-heading {
  text-align: center;
  color: #3b5998;
  font-size: 25px;
}

.goals {
  border: #3b5998 1px solid;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
}

.goal-title {
  font-size: 18px;
  margin: 10px;
}

.goal-description {
  font-size: 16px;
  float: left;
}

.item-wrapper {
  padding-top: 10px;
}

.goal-item-right {
  float: right;
  color: #3b5998;
  font-size: 16px;
  span {
    font-weight: bold;
  }
}

.goal-item-left {
  float: left;
  color: #3b5998;
  font-size: 16px;
  span {
    font-weight: bold;
  }
}
