<header>
  <div class="navbar">
    <h4 class="logo">GOALS</h4>
  </div>
</header>
<main>
  <div class="goal-list">
    <h4 class="goals-heading">SGY GOALS</h4>
    <div class="goals" ng-repeat="goal in $ctrl.goals">
      <h5 class="goal-title">{{goal.title}}</h5>
      <span class="goal-description">{{goal.description}}</span> <br/>
      <div class="item-wrapper">
        <span class="goal-item-left"><span>By: </span>{{goal.creator}}</span>
        <span class="goal-item-right"><span>Date Created: </span>{{goal.dateCreated}}</span>
      </div>
    </div>
  </div>
</main>
